<!-- <div class="title-wrapper" *ngIf="skeleton; else showData">
    <ion-skeleton-text class="calendar-block" animated></ion-skeleton-text>
</div>
<ng-template #showData>
    <div class="flex header-day">
        <p> Lu </p>
        <p> Ma </p>
        <p> Mx </p>
        <p> Ju </p>
        <p> Vi </p>
        <p> Sá </p>
        <p> Do </p>
    </div>

    <mwl-calendar-month-view #calendar [viewDate]="viewDate" [events]="events" [refresh]="refresh"
        [weekStartsOn]="weekStartsOn" [activeDayIsOpen]="activeDayIsOpen"
        (dayClicked)="dayClicked($event.day, calendar)" (beforeViewRender)="beforeMonthViewRender($event)"
        (eventClicked)="handleEvent($event.event)">
    </mwl-calendar-month-view>

</ng-template> -->